<select name="country" id="country" required>
  <% if (locals.developerCountry) { %>
    <% countries.forEach(country => { %>
      <option value="<%= country[0] %>" <%= developerCountry === country[0] ? 'selected' : '' %>>
        <%= country[1] %>
      </option>    
    <% }) %>
  <% } else { %>
  <% countries.forEach(country => { %>
    <option value="<%= country[0] %>">
      <%= country[1] %>
    </option>    
  <% })} %>
</select>