<tr>
  <td>
    <a href="/games/<%= game.id %>"><%= game.name %></a>
  </td>
  <% if (locals.game.genres) { %>
    <td>
      <% game.genres.forEach(genre => { %>
        <a href="/genres/<%= genre %>"><%= genre %></a>
      <% }) %>
    </td>
  <% } %>
  <% if (locals.game.developers) { %>
    <td>
      <% game.developers.forEach(developer => { %>
        <a href="/developers/<%= developer.id %>"><%= developer.name %></a>
      <% }) %>
    </td>
  <% } %>
</tr>