<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= game.name %></title>
</head>
<body>
  <main>
    <h2><%= game.name %></h2>
    <div>
      <h3>Description</h3>
      <p><%= game.description %></p>
    </div>
    <div>
      <h3>Genres</h3>
      <a href="/genres/<%= game.genre %>"><%= game.genre %></a>
    </div>
    <div>
      <h3>Developers</h3>
      <a href="/developers/<%= game.dev_id %>"><%= game.developer %></a>
    </div>
  </main>
</body>
</html>