<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= developer.name %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main class="specific-info">
    <div class="specific-head">
      <h2><%= developer.name %></h2>
      <button><a href="/developers/<%= developer.id %>/update">Edit</a></button>
      <button><a href="/developers/<%= developer.id %>/delete">Delete</a></button>
    </div>
    <div class="developer-details">
      <div>
        <h3>Description</h3>
        <p><%= developer.description %></p>
      </div>
      <div>
        <h3>Founded</h3>
        <p><%= developer.founded %></p>
      </div>
      <div>
        <h3>Country</h3>
        <p><%= developer.country %></p>
      </div>
      <div>
        <% if (developer.developed_count != 0) { %>
          <button><a href="/developers/<%= developer.id %>/games">View <%= developer.name %>'s <%= developer.developed_count %> Game<%= (developer.developed_count === '1') ? '' : 's' %></a></button>
        <% } else { %>
          <p>This developer has no games yet.</p>
        <% } %>
      </div>
    </div>
  </main>
</body>
</html>