<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Game</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main class="add-section add-game">
    <%- include('../partials/errors') %>
    <form method="POST" action="/games/<%= game.id %>/update">
      <div class="game-add-name">
        <label for="name">
          Title:
        </label>
        <input name="name" id="name" type="text" value="<%= game.name %>" required>
      </div>
      <div class="game-add-description">
        <label for="description">
          Description:
        </label>
        <textarea name="description" id="description" rows="10" required><%= game.description %></textarea>
      </div>
      <div class="game-add-genres">
        <label for="genres">Genre(s):</label>
        <select multiple name="genres" id="genres" required>
          <% genreList.forEach(genre => { %>
            <option value="<%= genre.id %>" <%= game.genres.find((gen) => gen.id === genre.id) ? 'selected' : '' %>><%= genre.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="game-add-developers">
        <label for="developers">Developer(s):</label>
        <select multiple name="developers" id="developers" required>
          <% developerList.forEach(developer => { %>
            <option value="<%= developer.id %>" <%= game.developers.find((dev) => dev.id === developer.id) ? 'selected' : '' %>><%= developer.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="password">
        <label for="password">Password:</label>
        <input name="password" id="password" type="password" required>
      </div>
      <button type="submit">Update</button>
    </form>
  </main>
</body>
</html>