<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Developer</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main class="add-section">
    <form method="POST" action="/developers/<%= developer.id %>/update">
      <div>
        <label for="name">
          Name:
        </label>
        <input name="name" id="name" type="text" value="<%= developer.name %>" required>
      </div>
      <div>
      <label for="description">
        Description:
      </label>
      <textarea name="description" id="description" rows="10"><%= developer.description %></textarea>
      </div>
      <div>
        <label for="country">
          Country:
        </label>
        <%- include('../partials/countriesSelect', { developerCountry: developer.code }) %>
      </div>
      <div>
        <label for="founded">
          Founded:
        </label>
        <input name="founded" id="founded" type="date" value="<%= developer.founded %>" required>
      </div>
      <button type="submit" >Update</button>
    </form>
  </main>
</body>
</html>